{% extends "administrador/base.html" %}
{% block main %}
  <h1>Añadir trabajador</h1>
  <p>Llene aquí los datos del trabajador nuevo</p>
  <form class="" action="/agregar-trabajador/" method="post">
    <div class="row g-3 mb-3">
      <div class="col-md-6">
        <label for="inputName" class="form-label">Nombres</label>
        <input type="text" class="form-control" name="nombres" id="inputName">
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="form-label">Apellidos</label>
        <input type="text" class="form-control" name="apellidos">
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Usuario</label>
        <input type="text" class="form-control" name="usuario">
      </div>
      <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="contrasenia">
      </div>
      <div class="col-md-6">
        <label for="inputAddress" class="form-label">Dirección</label>
        <input type="text" class="form-control" name="direccion">
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">Número</label>
        <input type="number" class="form-control" name="numero">
      </div>
    </div>
    <button type="submit" class="btn btn-success">Agregar</button>
    <!-- <a class="btn btn-primary" href="/agregar-otro-trabajador/">Seguir agregando</a> -->
  </form>
{% endblock %}
