{% extends "administrador/base.html" %}
{% block estilos %}{% endblock %}
{% block main %}
  <h1>Cronograma de producción</h1>
  <p>Aqui se puede visualizar el cronograma de producción</p>
  {{ cronograma|safe }}
  <div class="accordion" id="acordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Semana 2
        </button>
      </h2>
      <div class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <h3>03/01/2022</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tipo de silla</th>
                  <th scope="col">Producción programada</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Copeta</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>Árabe</td>
                  <td>12</td>
                </tr>
                <tr>
                  <td>Redonda</td>
                  <td>6</td>
                </tr>
                <tr>
                  <td>Vintage</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>Recta</td>
                  <td>14</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
